{% extends "base.html" %}

{% block content %}

<h2>Editar Profesional</h2>

<form method="POST">

RUT<br>
<input type="text" name="rut" value="{{ profesional.rut }}" required>
<br><br>

Nombre<br>
<input type="text" name="nombre" value="{{ profesional.nombre }}" required>
<br><br>

Apellido<br>
<input type="text" name="apellido" value="{{ profesional.apellido }}" required>
<br><br>

Especialidad<br>
<input type="text" name="especialidad" value="{{ profesional.especialidad }}">
<br><br>

Email<br>
<input type="email" name="email" value="{{ profesional.email }}">
<br><br>

Teléfono<br>
<input type="text" name="telefono" value="{{ profesional.telefono }}">
<br><br>

<button type="submit" class="btn btn-warning">
Actualizar
</button>

<a href="{{ url_for('professionals.index') }}" class="btn">
Volver
</a>

</form>

{% endblock %}