{% extends "base.html" %}

{% block content %}

<h2>Editar Paciente</h2>

<form method="POST">

<label>RUT</label>
<br>
<input type="text" name="rut" value="{{ paciente[1] }}" required>
<br><br>

<label>Nombre</label>
<br>
<input type="text" name="nombre" value="{{ paciente[2] }}" required>
<br><br>

<label>Apellido</label>
<br>
<input type="text" name="apellido" value="{{ paciente[3] }}" required>
<br><br>

<label>Email</label>
<br>
<input type="email" name="email" value="{{ paciente[4] }}">
<br><br>

<label>Fecha nacimiento</label>
<br>
<input type="date" name="fecha_nacimiento" value="{{ paciente[5] }}" required>
<br><br>

<button type="submit">Actualizar</button>

</form>

<br>

<a href="{{ url_for('patients.index') }}">
Volver
</a>

{% endblock %}