{% extends "base.html" %}
{% block content %}

<h2>Crear Usuario</h2>

<form method="POST">

    Nombre:<br>
    <input type="text" name="nombre" required><br><br>

    Email:<br>
    <input type="email" name="email" required><br><br>

    Password:<br>
    <input type="password" name="password" required><br><br>

    <strong>Roles:</strong><br>

    {% for r in roles %}
        <label>
            <input type="checkbox" name="roles" value="{{ r[0] }}">
            {{ r[1] }}
        </label><br>
    {% endfor %}

    <br>
    <button type="submit" class="btn btn-primary">Guardar</button>

</form>

{% endblock %}