{% extends "base.html" %}
{% block content %}

<h2>Editar Usuario</h2>

<form method="POST">

    Nombre:<br>
    <input type="text" name="nombre"
           value="{{ usuario.nombre }}"
           required><br><br>

    Email:<br>
    <input type="email" name="email"
           value="{{ usuario.email }}"
           required><br><br>

    <strong>Roles:</strong><br>

    {% for r in roles %}
        <label>
            <input type="checkbox"
                   name="roles"
                   value="{{ r.id }}"
                   {% if r.id in roles_usuario %}checked{% endif %}>
            {{ r.nombre }}
        </label><br>
    {% endfor %}

    <br>
    <button type="submit" class="btn btn-warning">Actualizar</button>
    <a href="{{ url_for('users.index') }}" class="btn">Volver</a>

</form>

{% endblock %}