{% extends "base.html" %}
{% block content %}
<div class="hero-home py-5 mb-5 text-center">
    <div class="container py-5">
        <h1 class="display-4 fw-bold text-navy-centro">Centro Médico</h1>
        <p class="lead mb-4 text-muted">Atención profesional y dedicada.</p>
        <a href="#" class="btn-agendar-home">
            <i class="fas fa-calendar-alt me-2"></i>Agendar Cita
        </a>
    </div>
</div>

<div class="container mb-5">
    <div class="row g-4 text-center">
        <div class="col-md-4">
            <div class="area-contenedor">
                <img src="{{ url_for('static', filename='img/area_salud_integral.png') }}" class="area-img">
                <div class="p-4"><h5 class="fw-bold text-navy-centro">Salud Integral</h5></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="area-contenedor">
                <img src="{{ url_for('static', filename='img/area_aprendizaje.png') }}" class="area-img">
                <div class="p-4"><h5 class="fw-bold text-navy-centro">Área Aprendizaje</h5></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="area-contenedor">
                <img src="{{ url_for('static', filename='img/area_terapias.png') }}" class="area-img">
                <div class="p-4"><h5 class="fw-bold text-navy-centro">Área Terapias</h5></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}