{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

<div class="card shadow">

<div class="card-header d-flex justify-content-between align-items-center">

<h5 class="mb-0">
Especialidades
</h5>

<button
class="btn btn-primary btn-sm"
data-bs-toggle="modal"
data-bs-target="#modalCreate">

Crear

</button>

</div>


<div class="card-body">

<table class="table table-bordered table-hover">

<thead class="table-light">

<tr>
<th>ID</th>
<th>Nombre</th>
<th width="150">Acciones</th>
</tr>

</thead>

<tbody>

{% for e in especialidades %}

<tr>

<td>{{e.id}}</td>
<td>{{e.nombre}}</td>

<td>

<button
class="btn btn-warning btn-sm">

Editar

</button>

<button
class="btn btn-danger btn-sm">

Eliminar

</button>

</td>

</tr>

{% endfor %}

</tbody>

</table>

</div>

</div>

</div>

{% endblock %}